{
  "env": {
    "browser": true,
    "es2021": true,
    "jest/globals": true,
    "cypress/globals": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:import/recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "overrides": [],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "plugins": ["react", "jest", "cypress", "import", "prettier"],
  "rules": {
    "prettier/prettier": "error",
    "no-unused-vars": ["warn"],
    "indent": ["error", 2],
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "single", { "avoidEscape": true }],
    "semi": ["error", "always"],
    "react/prop-types": "off",
    "no-console": "warn",
    "import/named": 2
  },
  "ignorePatterns": ["cypress.config.js"]
}
